<header class="alt-header">
    <div class="top-header">
        <h1> Terminal-A </h1>
        <button class="header-button"><a href="/sign-in" style="text-decoration:none!important; color:white;">Σύνδεση</a></button>
    </div>  
</header>