<body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="/">Booking Tickets</a></li>
                            <li><a href="#">Customize your Journey</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about-us">Company & Team</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Terminal-A</h3>
                        <p>Ever since its initial launch , out goal has been the same - making every possible step you take easier , faster and more reliable. </p>
                    </div>
                    <div class="col item social">
                        <a href="https://www.facebook.com/terminalaairbooking-102997349055769/?ref=pages_you_manage"><i class="icon ion-social-facebook"></i></a>
                        </a><a href="https://www.instagram.com/terminala.airbooking/"><i class="icon ion-social-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">Terminal-A © 2022</p>
            </div>
        </footer>
    </div>
    
</body>