<header class="main-header">
    <div class="top-header">
        <a class="logo" href="/"> Terminal-A </a>
        <a class="header-button" href="/sign-in" style="text-decoration:none!important; color:white;">Σύνδεση</a></button>
    </div>  
</header>