<header class="main-header">
    <div class="top-header">
        <a class="alt-logo" href="/"> Terminal-A </a>
        {{#userData}}
        <a class="account-button" href="/my-account" style="text-decoration:none!important; color:white;">{{user}}</a></button>
        {{/userData}}
    </div>  
</header>