<div>
    <header >
        All about our Company and what we represent.
    </header>
</div>
<div class="company-text">
    <p>
        Terminal-A is a company founded in Greece . Our first Steps began  on February of 2022 , in the peak of Covid-19 pandemic and our goal was the same from the beggining ; make traveling easier , better and faster for every customer . 
    </p>
</div>
<div>
    <h1>
        <p>
            Meet our Co-founders and learn about them.
        </p>
    </h1>
</div>
<div class="Co-Founders">
    <p>
        Marios Christos Stamatiou & Ioannis Mastrominas are both students that are currently studying Electrical and Computer Engineering at University of Patras.
        At the age of 22 and 24 they took the initiative to begin building Terminal-A from ground zero , due to the lack of services that are currently provided in our country in the field of booking tickets and orginising custom travel plans with absolute ease. 
    </p>
</div>
<div class="container-fluid ">
        <div class="row">
            <div class="column" >
                
                <img src="images/marios-stamatiou.png" >
                <p style="font-size:1.3vw;">
                    Marios Christos Stamatiou
                </p>
                <div class="social">
                    <a href="https://www.instagram.com/mariosstm/"><i class="fa fa-instagram " aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/%CE%BC%CE%AC%CF%81%CE%B9%CE%BF%CF%82-%CF%83%CF%84%CE%B1%CE%BC%CE%B1%CF%84%CE%AF%CE%BF%CF%85-6aa044206/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
                    
                    
            <div class="column" >
                    <img src="/images/giannos-mastro.png" >
                    <p style="font-size:1.3vw;">
                        Ioannis Mastrominas
                    </p>
                    <div class="social">
                        <a href="https://www.instagram.com/giannos.mastro/"><i class="fa fa-instagram " aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/ioannis-mastrominas-6285a3167/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    
</div>





<div class="AboutUs-Epiloge">
    <p>
        The company has been succesfully running and - ever since its founding - growing constantly. <strong>For over six months our priority was and will continue to be your comfort.</strong>
    </p>
</div>
