<nav class="navbar navbar-light bg-light p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="adminMain.html">
            Terminal~A - Admin Panel
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              Hello, Marios
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Messages</a></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
              <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="adminMain.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                      <span class="ml-2">Dashboard</span>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="adminTicketManagement.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                      <span class="ml-2">Ticket Management</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="adminHelpDesk.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                      <span class="ml-2">Help Desk</span>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="adminAnnouncements.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                      <span class="ml-2">Announcements</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="adminReports.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                      <span class="ml-2">Reports</span>
                    </a>
                  </li>
                </ul>
              </div>
          </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-3 py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ticket Management</li>
                </ol>
            </nav>
            <h1 class="h2" style="padding-top:1vw;">Ticket Management</h1>
            <div class="row" style="padding-top:3vw;">
                <div class="col-md-4 mb-4">
                <div class="card" style="height:27.0vw;">
                    <h5 class="card-header">Search Booking</h5>
                    <form action="GET">
                        <div class="row d-flex justify-content-center" style="padding-top:2em;">
                            <div class="col-md-8 mb-4">
                              <div class="form-outline">
                                <input type="text" id="Fname" class="form-control" name="Fname" value="">
                                <label class="form-label" for="Fname">First name</label>
                              </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 mb-4">
                                <div class="form-outline">
                                  <input type="text" id="Lname" class="form-control"  name="Lname" value="">
                                  <label class="form-label" for="Lname">Last name</label>
                                </div>
                              </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 mb-4">
                                <div class="form-outline">
                                  <input type="text" id="Email" class="form-control"  name="Email" value="">
                                  <label class="form-label" for="Email">Email</label>
                                </div>
                              </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 mb-4">
                                <div class="form-outline">
                                  <input type="text" id="Lname" class="form-control"  name="bookingID" value="">
                                  <label class="form-label" for="bookingID">Booking-ID</label>
                                </div>
                              </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-block mb-4" style="margin:0;">
                                Find Booking
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        <div class="col-12 col-xl-7 mb-4 mb-lg-0">
            <div class="card" >
                <h5 class="card-header">Search Booking</h5>

                <!--Ticket Display-->
                <div class="cardWrap" style="font-size:0.9vw;">
                    <div class="card cardLeft">
                      <h1 style="font-size:1.1vw;">Fight From: <span>startingPoint</span> <br> To:<span>Destination</span></h1>
                      <div class="name" >
                        <h2 style="font-size:0.9vw;"><span>Fname</span> <span>Lname</span></h2>
                        
                      </div>
                      <div class="Cost" >
                        <h2 style="font-size:1.1vw;">Cost</h2>
                        <span>95$</span>
                      </div>
                      <div class="DepartureTime" >
                        <h2 style="font-size:1.1vw;">Departure Time</h2>
                        <span>12:00</span>
                      </div>
                    </div>
                  </div>
            </div>
        

        </div>
        </main>
    </div>
    </div>
