<nav class="navbar navbar-light bg-light p-3" style="height:5vw;">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="/adminMain" style="marging-bottom:2vw;">
            Admin Panel
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            
        </button>
    </div>
</nav>
<div clas="row">
        <div class="container-fluid">
            <div class="row">
                {{>admin-sidebar}}
                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-3 py-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="adminMain.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Help Desk</li>
                        </ol>
                    </nav>
                    <h1 class="h2" style="padding-top:1vw;">Help Desk</h1>
                    <div class="row" style="padding-top:3vw;">
                        <div class="col-md-4 mb-4">
                            <div class="card" style="height:27.0vw;">
                                <h5 class="card-header">Search Customer</h5>
                                <form action="GET">
                                    <div class="row d-flex justify-content-center" style="padding-top:2em;">
                                        <div class="col-md-8 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="Fname" class="form-control" name="Fname" value="">
                                            <label class="form-label" for="Fname">First name</label>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-8 mb-4">
                                            <div class="form-outline">
                                            <input type="text" id="Lname" class="form-control"  name="Lname" value="">
                                            <label class="form-label" for="Lname">Last name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-8 mb-4">
                                            <div class="form-outline">
                                            <input type="text" id="Email" class="form-control"  name="Email" value="">
                                            <label class="form-label" for="Email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-8 mb-4">
                                            <div class="form-outline">
                                            <input type="text" id="Email" class="form-control"  name="Cellphone" value="">
                                            <label class="form-label" for="Cellphone">Cellphone</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-block mb-4" >
                                            Find Customer
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="card text-center" style="padding-left:0%">
                                <h5 class="card-header">Reset Profile Settings</h5>
                            <div>
                                <div class="col-md-12 border-right">
                                    <div class="p-3 py-5">
                                    
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Cellphone</label>
                                                <input type="text" class="form-control" placeholder="Change Customer Cellphone" value="">
                                            </div><br><br><br><br>
                        
                                            
                                            <div class="col-md-12"><label class="labels">Email Address</label>
                                                <input type="text" class="form-control" placeholder="Change Customer Email Address" value="">
                                            </div><br><br><br><br>
                                            
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Username </label>
                                                <input type="text"
                                                    class="form-control" placeholder="Change Customer Username" value="">
                                                </div><br><br><br><br>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Password </label>
                                                <input type="text"
                                                    class="form-control" placeholder="Change Customer Password" value="">
                                                </div><br><br><br><br>
                                        </div>
                                        <div class="mt-5 text-center">
                                            <button class="btn btn-primary profile-button" type="button">
                                                Save Profile Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div>
        
            
    </div>
</div>
