<nav class="navbar navbar-light bg-light p-3" style="height:5vw;">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="/adminMain" style="marging-bottom:2vw;">
            Admin Panel
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            
        </button>
    </div>
</nav>
  <div class="container-fluid">
    <div class="row">
        {{>admin-sidebar}}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/adminMain">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <h1 class="h2">Dashboard</h1>
            <div class="row my-4">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card">
                        <h5 class="card-header">Customers</h5>
                        <div class="card-body">
                          <h5 class="card-title">10</h5>
                          <p class="card-text">Feb 1 - Apr 1, Patras</p>
                          <p class="card-text text-success">25% increase in this time spam</p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="card">
                        <h5 class="card-header">Revenue</h5>
                        <div class="card-body">
                          <h5 class="card-title">$2k</h5>
                          <p class="card-text">Feb 1 - Apr 1, Patras</p>
                          <p class="card-text text-success">25% increase since last month</p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="card">
                        <h5 class="card-header">Purchases</h5>
                        <div class="card-body">
                          <h5 class="card-title">43</h5>
                          <p class="card-text">Feb 1 - Apr 1, Patras</p>
                          <p class="card-text text-danger">25% decrease since last month</p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="card">
                        <h5 class="card-header">Traffic</h5>
                        <div class="card-body">
                          <h5 class="card-title">64k</h5>
                          <p class="card-text">Feb 1 - Apr 1, United States</p>
                          <p class="card-text text-success">2.5% increase since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-12 col-xl-12">
                    <div class="card" >
                        <h5 class="card-header">User Traffic - Last 6 months</h5>
                        <div class="card-body">
                            <div id="traffic-chart" style="height:20vw;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


