<nav class="navbar navbar-light bg-light p-3" style="height:5vw;">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="/adminMain" style="marging-bottom:2vw;">
            Admin Panel
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            
        </button>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        {{>admin-sidebar}}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reports</li>
                </ol>
            </nav>
            <h1 class="h2" style="padding-top:1vw;">Reports</h1>
            <div class="row" style="padding-top:3vw;">
                <div class="col-12 col-xl-12 mb-4 mb-lg-0">
                    <div class="card" >
                        <h5 class="card-header">Latest Reports</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Report No.</th>
                                        <th scope="col">Overview</th>
                                        <th scope="col">Customer Email</th>
                                        <th scope="col">Date</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">17371705</th>
                                        <td>bad</td>
                                        <td>johndoe@gmail.com</td>
                                        
                                        <td>Aug 31 2020</td>
                                        <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">17370540</th>
                                        <td>No ticket on my email</td>
                                        <td>jacob.monroe@company.com</td>
                                        
                                        <td>Aug 28 2020</td>
                                        <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">17371705</th>
                                        <td>No refund available</td>
                                        <td>johndoe@gmail.com</td>
                                        
                                        <td>Aug 31 2020</td>
                                        <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">17370540</th>
                                        <td>I lost my flight because of you</td>
                                        <td>jacob.monroe@company.com</td>
                                        
                                        <td>Aug 28 2020</td>
                                        <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">17371705</th>
                                        <td>IDIOTS</td>
                                        <td>johndoe@gmail.com</td>
                                        
                                        <td>Aug 31 2020</td>
                                        <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                      </tr>
                                      <tr>
                                        <th scope="row">17370540</th>
                                        <td>BAD RECEPTION</td>
                                        <td>jacob.monroe@company.com</td>
                                        <td>Aug 28 2020</td>
                                        <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                            <a href="#" class="btn btn-block btn-light">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
  
    
