<div class="main-poster">
  <div class="img-container">
    <img class = "dest-banner" src="/images/destinations_poster.jpg">
  </div>
  <h1 class = "banner-title">Take the first step of your dream journey today</h1>
</div>
<div class="dest-container">
  <h2 class="dest-title">Οι αγαπημένοι μας προορισμοί</h2>
  <div class="dest-flex">
    <div class="dest-item">
      <a href="">
        <img class="dest-img" src="/images/milan.jpg">
      </a>
      <div class="dest-text"> Μιλάνο </div>
    </div>
    <div class="dest-item">
      <a href="">
        <img class="dest-img" src="/images/berlin.jpg">
      </a>
      <div class="dest-text"> Βερολίνο </div>
    </div>
    <div class="dest-item">
      <a href="">
        <img class="dest-img" src="/images/san-francisco.jpg">
      </a>
      <div class="dest-text"> Σαν Φρανσίσκο </div>
    </div>
    <div class="dest-item">
      <a href="">
        <img class="dest-img" src="/images/rio-de-janeiro.jpg">
      </a>
      <div class="dest-text"> Ρίο ντε Τζανέιρο </div>
    </div>
    <div class="dest-item">
      <a href="">
        <img class="dest-img" src="/images/tokyo.jpg">
      </a>
      <div class="dest-text"> Τόκιο </div>
    </div>
    <div class="dest-item">
      <a href="">
        <img class="dest-img" src="/images/sydney.jpg">
      </a>
      <div class="dest-text"> Σίδνεϊ </div>
    </div>
  </div>
</div>