<div class="center-bg">
    <div class="main-content-container">
        <div class="text-container">
            <h2> Ταξιδεύοντας μαζί σας </h2>
        </div>
        <div class="form-container">
            <form action='' method="get" class="main-form">
                <div class="flex-container">
                    <div class="flex-item">
                        <label class="arr-dep" for="departure">Από</label>
                        <input type="text" name="departure" id="departure" placeholder="Athens">
                    </div>
                    <div>

                    </div>
                    <div class="flex-item">
                        <label class="arr-dep" for="arrival">Προς</label>
                        <input type="text" name="arrival" id="arrival" placeholder="Thessaloniki">
                    </div>
                    <div class="flex-item">
                        <label class="arr-dep" for="depart-date">Αναχώρηση</label>
                        <input type="date" name="depart-date" id="depart-date">
                    </div> 
                    <div class="flex-item">
                        <label class="arr-dep" for="return-date">Επιστροφή</label>
                        <input type="date" name="return-date" id="return-date">
                    </div>
                </div>
                <div class="form-checkbox">
                    <input type="checkbox" id="oneway" name="return-value" value="Χωρίς επιστροφή">
                    <label for="return-value">Χωρίς Επιστροφή</label>
                </div>
                <div class="button-form">
                    <button class="search-flight" type="submit">Αναζήτηση</button>
                </div>
            </form>
        </div>
    </div>
</div>