


.flightInfoSticky{
  width: 20vw;
  height: 15vw;
  background-color: #0F5673;
  color: white;
  position: sticky;
  float: left;
  top: 10em;
  border-radius: 0 1em 1em 0;
  font-size: 1.2em;
  padding: 0.5em;
}
